<!DOCTYPE html>
<html>
<head>
	<script src="/javascript/main.js?v=<%= version %>"></script>
	<script src="/javascript/constants.js?v=<%= version %>"></script>
	<script src="/javascript/building.js?v=<%= version %>"></script>
	<script src="/javascript/elevator.js?v=<%= version %>"></script>
	<script src="/javascript/person.js?v=<%= version %>"></script>
	<script src="/javascript/phaser.js?v=<%= version %>"></script>
	
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
	<div id="title">ELEVATOR MANIA</div>
	<div id="main-canvas">
	</div>
</body>
</html>
		